<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArchiver"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8495/Archiver.Archiver" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArchiver" contract="Archiver.IArchiver" name="BasicHttpBinding_IArchiver">
        <identity>
          <userPrincipalName value="WIN-PECH7TNV47P"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>